.admin-panel {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.h1-panel {
  text-align: center;
}

.label-admin {
  display: block;
  margin-bottom: 5px;
}

.input-admin {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-newproduc-adm {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-imagen-adm {
  display: block;
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.img-preview {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
  display: block;
}
