.detail-background {
  background-color: #fff7f7;
  padding: 20px;
}

.detail-container {
  display:flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e4cac9;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.detail-content {
  flex: 1;
  margin-left: 20px;
}

.detail-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-description {
  margin-bottom: 15px;
}

.detail-details {
  margin-bottom: 5px;
}

.detail-imagen-container {

    max-width: 40%; /* Ancho máximo del 50% del contenedor padre */
    height: auto; /* Mantener proporción de aspecto */
    margin-right: 10px; /* Reducir el margen derecho a 10px (o el valor que desees) */
  
}

.detail-imagen {
  width: 190%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.volver {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.imagen-nav {
  margin-top: 10px;
}

.imagen-nav button {
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.imagen-nav button:hover {
  background-color: #e0e0e0;
}

.card-buttons {
  margin-top: 20px;
}

.card-buttons button {
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-buttons button:hover {
  background-color: #e0e0e0;
}

.card-buttons button:focus {
  outline: none;
}

.variantes-container {
  margin-top: 20px;
}

.variantes-container h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.variantes-container ul {
  list-style: none;
  padding: 0;
}

.variantes-container li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.variantes-container li p {
  margin: 0;
}

.variantes-container li p:first-child {
  font-weight: bold;
}

.selecion-detail {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  max-width: 50%;
  overflow: auto;
  margin-left: -20px;
}

.selecion-content-detail {
  display: flex;
  flex-direction: column;
}

.selecion-content-detail label {
  margin-bottom: 8px;
  font-weight: bold;
}

.selecion-content-detail select,
.selecion-content-detail input[type="number"] {
  width: calc(100% - 16px);
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.selecion-content-detail button {
  background-color: #e4cac9;
  color: #000000;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.5px black solid ;
  
}

.selecion-content-detail button:hover {
  background-color: #ecb8ea;
}

@media screen and (max-width: 800px){
  .detail-background {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
  }
  
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    background-color: #e4cac9; /* Color de fondo del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  
  .detail-imagen-container {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Cambia la dirección de los elementos */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .detail-imagen {
    max-width: 100%;
    height: auto;
  }
  
  .imagen-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .imagen-button {
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .imagen-button.active {
    font-weight: bold;
  }
  
  .detail-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .detail-description {
    margin-bottom: 10px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .detail-details {
    margin-bottom: 10px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .selecion-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .selecion-content-detail {
    margin-bottom: 20px;
  }
  
  .selecion-content-detail select,
  .selecion-content-detail input,
  .selecion-content-detail button {
    margin-bottom: 10px;
  }
  
  .volver {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
}


  
