.carrito-fondo {
  background-color: #f9f9f9;
  padding: 20px;
}

.carrito {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.carrito-table {
  width: 100%;
  border-collapse: collapse;
}



.carrito-th,
.carrito-td {
  padding: 10px;
  text-align: left;
}

.carrito-th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

.carrito-th-des{
  background-color: #f2f2f2;
}

.carrito-td {
  border-bottom: 1px solid #ddd;
}

.producto-imagen {
  width: 50px;
  height: auto;
}

.cantidad-acciones {
  display: flex;
  align-items: center;
}

.boton-cantidad-div {
  margin: 0 5px;
}

.boton-cantidad {
  background-color: #f6c1c1;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.boton-eliminar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.mensaje-vacio {
  text-align: center;
  font-style: italic;
  color: #999;
}

.total {
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}



.enlace-home {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}


.modal-compra {

  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-compra {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.close-compra {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-compra:hover {
  color: #333;
}

.formulario-correo label {
  display: block;
  margin-bottom: 8px;
}

.formulario-correo input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario-correo input[type="email"]:focus {
  outline: none;
  border-color: #f6c1c1;
}


.boton-carrito {
  background-color: #f6c1c1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
  margin-left: 10px;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.boton-carrito:hover {
  background-color: #f6c1c1;
}

.carrito-nPedido {
  margin-top: 16px;
  font-size: 18px;
}

.carrito-indicaciones {
  margin-top: 12px;
  font-size: 14px;
}

.carrito-indicaciones a {
  color: #f6c1c1;
  text-decoration: none;
}

.carrito-indicaciones a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 800px) {
  .carrito-table {
    font-size: 14px;
  }

  .producto-imagen {
    width: 40px;
  }

  .boton-cantidad,
  .boton-eliminar,
  .boton-carrito {
    font-size: 12px;
    padding: 4px 8px;
  }
}

/* Estilos específicos para pantallas muy pequeñas */
@media only screen and (max-width: 800px) {
  .carrito-th-des {
    display: none; /* Ocultar la columna de descripción en dispositivos móviles */
  }
  .carrito-td-des{
    display: none;
  }

  .carrito-td {
    padding: 8px; /* Ajustar el espacio entre las celdas */
  }

  .producto-imagen {
    width: 100%;
    max-width: 100px;
    height: auto;
  }

  .cantidad-acciones {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boton-carrito {
    width: 100%;
    margin-top: 10px;
  }

  .mensaje-vacio,
  .total {
    text-align: center;
  }

  /* Estilos para colocar "Color" y "Talle" debajo de "Producto" */
  .carrito-td > div {
    margin-top: 5px;
  }

  .carrito-td > div > span {
    display: block;
  }
}