.back-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: white;
  z-index: 2;
}

.superior {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #b97431;
  cursor: pointer;
  z-index: 2;
  border: solid 1px #b97431;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.superior:hover {
  background-color: #dc7430
}

.carrito-nav {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #b97431;
  cursor: pointer;
  z-index: 2;
  border: solid 1px #b97431;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.barra-buscar {
  width: 100%;
  margin-bottom: 10px;
}




.inferior {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.inferior:hover {
  background-color: #ddd;
}

.titulo-respon {
  display: none;
  /* Por defecto oculto */
}


@media screen and (max-width: 1000px) {
  .back-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .carrito-nav {
    margin-left: 300px;
    /* Coloca el carrito en la esquina superior derecha */
    margin-top: 10px;
  }

  .barra-buscar {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .titulo-respon {
    display: block;
    background: linear-gradient(to right, #d2b48c, #bc8f8f, #cd853f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1px;
    font-size: 35px;
    font-family: "Sedan SC", serif;
    font-weight: 800;
    font-style: normal;
  }

  .superior {
    display: none;
  }
}