.edit-product-modal .modal-dialog {
  max-width: 800px; /* Ancho máximo del modal */
}

.edit-product-modal .modal-content {
  overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es más largo que el modal */
  max-height: 80vh; /* Altura máxima del modal para que sea adaptable */
}

.variant-form-group {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-size: 1.25rem;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 20px;
}

.btn-secondary-editar {
  background-color: #6c757d;
  color: #fff;
}

.btn-primary-editar {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary-editar:hover,
.btn-primary-editar:hover {
  opacity: 0.8;
}

.cerrar-modal {
  color: #000;
}

.cerrar-modal:hover {
  color: #000;
}

.container-Modal-editar {
  padding: 20px;
}
