.container-Modal-editar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el título del modal */
.modal-title-editar {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Estilos para los grupos de formulario dentro del modal */
.form-group-editar {
  margin-bottom: 20px;
}

/* Estilos para las etiquetas de formulario dentro del modal */
.form-label-editar {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

/* Estilos para los campos de entrada dentro del modal */
.form-control-editar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Estilos para el enfoque de los campos de entrada dentro del modal */
.form-control-editar:focus {
  outline: none;
  border-color: #6c63ff;
}

/* Estilos para los botones del modal */
.btn-secondary-editar {
  background-color: #ccc;
  color: #333;
  border: none;
}

.btn-primary-editar {
  background-color: #6c63ff;
  color: #fff;
  border: none;
}

/* Estilos para los botones del modal al pasar el cursor */
.btn-secondary-editar:hover,
.btn-primary-editar:hover {
  opacity: 0.8;
}

/* Estilos para el cuerpo del modal */
.editar-admin {
  padding: 20px;
}

/* Estilos para el pie de página del modal */
.footer-modal-editar {
  display: flex;
  justify-content: space-between;
}