.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 500px; /* Ajusta el margen izquierdo */
  }
  
  .grid-item {
    background-color: #ccc;
    height: 200px;
    flex: 1 0 40%; /* Distribuir el espacio disponible y limitar el ancho */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-item {
    text-align: center;
  }
  
  /* Estilo para el enlace dentro del cuadrado */
  .grid-item a {
    text-decoration: none;
    color: inherit;
  }